<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>About BTC Visualizer</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>About</h2>
	  <br>
	  This aplication provides information about bitcoin (BTC) transactions using the data available on <a href="http://www.blockchain.info">Blockchain.info</a>.
	  <br>
	  <br>
	  It provides four types of service, explained in the order in which they appear on the <a href="/">home page</a>.
	  <br>
	  <br>
	  1. It creates a visualization of the transactions in any given individual block, and can also retrieve the latest block.
	  <br>
	  <br>
	  2. It creates a visualization of the transaction graph for any given wallet on the BTC blockchain.
	  <br>
	  <br>
	  3. It compares any two wallets on the BTC blockchain and returns an estimate about whether or not these wallets belong to the same entity. This estimate is based on the <a href="/simtheory">similarity algorithm</a> described in this <a href="http://www.paper.com">paper</a>.
	  <br>
	  <br>
	  4. It takes a wallet and classifies it as a type of transactor according to an unsupervised classification algorithm described in more detail <a href="/classtheory">here</a>.
	  <br>
	  <br>
          <p><a href="/">Home</a></p>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
