<html>
<head>
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>

</head>
<body>
<H1>BTC Block Transaction Graph</H1>


{{ script|safe }}
{{ div|safe }}

<br>
<br>
<br>
<a href="/">Home</a>


</body>
</html>
