<!DOCTYPE html>
<html>
<body>

<h2>BTC Visualizer</h2>

<form action="/">
  Enter a block hash, or type "latest" to visualize the most recent block:
  <br><br>
  <input type="text" name="blockhash" size="70">
  <br><br>
  <input type="submit" value="Visualize">
</form>
<br>
<br>
<form action="/">
  Enter a wallet hash to visualize the transaction pattern for that wallet:
  <br><br>
  <input type="text" name="wallethash" size="70">
  <br><br>
  <input type="submit" value="Visualize">
</form>
<br>
<br>
<form action="/">
  Enter two wallet hashes to estimate if they belong to the same entity:
  <br><br>
  <input type="text" name="wallethash1" size="70">
  <br><br>
  <input type="text" name="wallethash2" size="70">
  <br><br>
  <input type="submit" value="Compare">
</form>
<br>
<br>
<form action="/">
  Enter a wallethash to see what type of transactor it corresponds to:
  <br><br>
  <input type="text" name="wallethashtype" size="70">
  <br><br>
  <input type="submit" value="Compare">
</form>
</body>
</html>
