<!DOCTYPE html>
<html>
<body>

<h2>Bitcoin Transaction and Address Visualizer</h2>
<br>
<br>
<form action="/blockplot">
  Enter a block hash, or type "latest" to visualize the most recent block:
  <br><br>
  <input type="text" name="blockhash" size="70">
  <br><br>
  <input type="submit" value="Visualize">
</form>
<br>
<br>
<form action="/walletplot">
  Enter an address hash to visualize its transaction pattern:
  <br><br>
  <input type="text" name="wallethash" size="70">
  <br><br>
  <input type="submit" value="Visualize">
</form>
<br>
<br>
<form action="/equalityresult">
  Enter two address hashes to estimate if they belong to the same entity:
  <br><br>
  <input type="text" name="wallethash1" size="70">
  <br><br>
  <input type="text" name="wallethash2" size="70">
  <br><br>
  <input type="submit" value="Compare">
</form>
<br>
<br>
<form action="/wallettype">
  Enter a block hash to get statistics on the type of addresses transacting on this block:
  <br><br>
  <input type="text" name="address" size="70">
  <br><br>
  <input type="submit" value="Classify">
</form>
<br>
<br>
<a href="/about">About</a>
</body>
</html>
