<!DOCTYPE html>
<html lang="en"><head>
  
  <meta charset="utf-8">

  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">

  
  <meta name="author" content="@gotoariel">

<!-- <link rel="icon" href="favicon.ico"> -->
  <title>Bitcoin Block Visualizer</title>

  
<!-- Bootstrap core CSS -->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head><body>
<div class="container">
<div class="row">
<div class="col-lg-12 text-left">
<h2 style="font-weight: normal;">Bitcoin Block Transaction Visualizer</h2>
<br>
Enter a block hash, or just type "latest" to visualize the latest block:<br>
<br>
<input value="latest" name="Block Hash"><br>
<br>
<button value="plot" name="Visualize"></button><br>
<br>
<ul>
  <li><a href="/about">About</a></li>
</ul>
</div>
</div>
</div>

</body></html>